body {
    background: white !important;
    color: black !important;
}

section {
    background: white !important;
    color: black !important;
}

/* forcer tous les textes */
p, h1, h2, h3, h4, h5, h6, li, span {
    color: black !important;
}

/* garder le bleu */
.text-blue-500,
.text-blue-400 {
    color: #3b82f6 !important;
}

/* neutraliser les gris trop clairs */
.text-gray-600,
.text-gray-700,
.text-neutral-300,
.text-neutral-400 {
    color: #222 !important;
}
